<!DOCTYPE html>
<html>
  <head>
    <title>EstateMatch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "conversations", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="font-sans antialiased">
    <!-- 共通ナビゲーション -->
    <%= render 'shared/navigation' %>
    
    <% if notice %>
      <div class="bg-estate-success-100 border border-estate-success-600 text-estate-success-600 px-4 py-3 rounded mb-4 mx-4 mt-4">
        <%= notice %>
      </div>
    <% end %>
    
    <% if alert %>
      <div class="bg-red-100 border border-red-600 text-red-600 px-4 py-3 rounded mb-4 mx-4 mt-4">
        <%= alert %>
      </div>
    <% end %>
    
    <%= yield %>
    
    <!-- 共通フッター -->
    <%= render 'shared/footer' %>
  </body>
</html>
